[submodule "library/Equ"]
	path = library/Equ
	url = git://github.com/szjani/equlib.git
[submodule "library/Symfony/Component/DependencyInjection"]
	path = library/Symfony/Component/DependencyInjection
	url = git://github.com/symfony/DependencyInjection.git
[submodule "library/Symfony/Component/Config"]
	path = library/Symfony/Component/Config
	url = git://github.com/symfony/Config.git
[submodule "library/Symfony/Component/Console"]
	path = library/Symfony/Component/Console
	url = git://github.com/symfony/Console.git
[submodule "library/ZFDebug"]
	path = library/ZFDebug
	url = git://github.com/jokkedk/ZFDebug.git
[submodule "library/Gedmo"]
	path = library/Gedmo
	url = git://github.com/l3pp4rd/DoctrineExtensions.git
