@CHARSET "UTF-8";
body {
	font-size:14px;
  font-family: Arial, Helvetica, sans-serif;
}
table {
	width: 100%;
}
tr.deleted td {
	background-color: #FFDDDD;
}
/*ul.navigation {*/
/*	padding: 10px;*/
/*}*/
/*ul.navigation li {*/
/*	margin: 4px;*/
/*	display: inline;*/
/*}*/
td {
	border: 1px solid #ccc;
	padding: 5px;
  font-size: 12px;
  vertical-align: middle;
}
tr.even:hover {
  background-color: #f0f0f0;
}
tr.odd:hover {
  background-color: #eeeeee;
}
tr.even {
  background-color: #fafafa;
}
th {
	background: url(/images/table_bg.jpg) repeat-x;
	border: 1px solid #ccc;
	padding: 4px;
}
a {
  color: #20759c;
  text-decoration: none;
/*  font-weight: bold;*/
}
#wrapper, #filter-form-content, #content, #header-content, #messages {
	width: 900px;
	margin: 0 auto;
}
#messages {
  color: #FF6600;
  background: #FFF3C6;
  padding: 5px;
}
.paginator {
	margin: 10px auto;
	text-align: center;
}
.methods {
	padding: 20px 4px;
  color: #EDEDED;
}
.methods-list {
  color: #EDEDED;
}
#filter_submit {
	width: 150px;
}
#header {
	background: #F0F0F0;
	height: 100px;
  border-bottom: 1px solid #E6E6E6;
}
#header-content a {
  font-size: 20px;
  color: #333333;
  text-decoration: none;
  display: block;
  float: left;
  padding: 10px;
}
#filter-form dl dt {
  width: auto;
  clear: none;
  display: none;
}
.logo {
  float: left;
}
.form dt {
  padding: 10px 0px;
}
.paginationControl {
  padding: 10px 0px;
}
.paginationControl a {
  color: inherit;
}
.paginationControl a:hover span {
/*  background-color: #E9F4FE;
  border: 1px solid #789EC0;*/
  background-color: #F7FCFF;
  border: 1px solid #B5BCC7;
}
.paginationControl span.disabled {
  background-color: #ececec;
  border: 1px solid #B5BCC7;
}
.paginationControl span.current {
  background-color: #eee;
  border: 1px solid #B5BCC7;
}
.paginationControl span {
  border-radius: 2px;
  -moz-border-radius: 2px;
/*  border: 1px solid #B5BCC7;
  background-color: #F7FCFF;*/
  border: 1px solid #789EC0;
  background-color: #E9F4FE;
  padding: 2px 8px;
}

textarea {
  height: 40px;
}