@charset "utf-8";

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#page {
  margin-top: 10px;
}
h1 {
	font-size: x-large;
	margin: 0.5em;
}
h2 {
	font-size: medium;
	margin: 1em 0px;
	clear: both;
}
dl {
	float: left;
}
#logo h2 {
	font-size: small;
}
#logo h1 {
	color: white;
}
#head {
	padding: 4px;
	background-color: #333;
  border-radius: 4px;
	-moz-border-radius: 4px;
}
dl dt,dd {
	padding: 5px;
/*	min-height: 30px;*/
}

dl dt {
	float: left;
	clear: left;
	text-align: right;
	width: 100px;
	margin-top: 5px;
/*	padding-right: 5px;*/
}

dl dt label.required {
	font-weight: bold;
}

dl dd {
	float: left;
	clear: right;
/*	padding-left: 5px;*/
}

dl dd ul.errors {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 550px;
}

dl dd ul.errors li {
	float: left;
	margin: 0 0.15em;
	font-size: 12px;
	color: #666666;
}
#mainMenu ul.navigation {
	background: #333;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
	width: 100%;
}
#mainMenu ul.navigation li {
/*  padding: 4px 10px;*/
/*	border-bottom: 1px solid #558899;*/
	list-style: none;
}
#mainMenu ul.navigation a {
  background: #444;
  border-bottom: 1px solid #393939;
  border-top: 1px solid #555;
  color: #ccc;
  display: block;
  margin: 0;
  padding: 8px 20px 8px 22px;
  text-decoration: none;
	text-align: left;
	font-size: small;
}
#mainMenu ul.navigation > li > a {
  border-left: 8px solid #555;
}
#mainMenu ul.navigation a:hover, #mainMenu ul.navigation li.active > a {
  color: #fff;
	text-shadow: 0px 0px 2px #000;
  border-top: 1px solid #777;
}
#mainMenu ul.navigation a:hover, #mainMenu ul.navigation li.active > a {
  background-color: #2580a2;
}
#mainMenu ul.navigation ul a:hover, #mainMenu ul.navigation ul li.active > a {
  background: #2580a2 url("/images/hover.gif") left center no-repeat;
}
#mainMenu ul.navigation ul {
  display: none;
}
#mainMenu ul.navigation li.open > ul {
  display: inherit;
}
#mainMenu ul.navigation li.active > ul {
  display: inherit;
}
#mainMenu ul.navigation ul a {
  padding: 4px 20px 4px 40px;
  font-size: 11px;
  background-color: #333;
}
#breadcrumbs {
	background-color: #eeeef2;
	padding: 10px;
	font-size: small;
	border-radius: 4px;
	-moz-border-radius: 4px;
	margin: 4px 0px 12px 0px;
  -moz-box-shadow: 0px -2px 2px #ddd;
  -webkit-box-shadow: 0px -2px 2px #888;
  box-shadow: 0px -2px 2px #888;
  border: 1px solid #ccc;
}
#breadcrumbs a:hover {
	text-decoration: underline;
}
#submenu {
	font-size: small;
	height: 20px;
	margin-bottom: 18px;
}
#submenu li {
	float: left;
	margin-right: 2px;
}
#submenu li a {
	background-color: #EEEEF2;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
/*	border-bottom: 1px solid #ccc;*/
	display: block;
	padding: 3px 6px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
#submenu li a:hover {
	background-color: white;
}
#submenu li.active a {
	background-color: white;
/*	border-bottom: none;*/
	color: black;
  -moz-box-shadow: 0px -2px 2px #ddd;
  -webkit-box-shadow: 0px -2px 2px #888;
  box-shadow: 0px -2px 2px #888;
}
.messages {
	clear: both;
}
.messages div.success, .messages div.error {
	border: 1px solid;
	padding: 8px 8px;
	border-radius: 4px;
  -moz-border-radius: 4px;
  margin: 4px 0px;
}
.messages div.success {
	background-color: #F8FCF5;
	border-color: #8BD463;
}
.messages div.error {
	background-color: #FDF7F7;
	border-color: #D46464;
}